h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Open Sans', Georgia, Times, serif;
}

h1 {

    font-family: 'Montserrat', Arial, serif;
}


.front-page{
    background-image: url("../img/road.jpeg");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

