h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Open Sans', Georgia, Times, serif;
}

h1 {

    font-family: 'Montserrat', Arial, serif;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 8px;
}


td {
    padding: 4px;
}


.front-page{
    background-image: url("../img/road.jpeg");
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

