{% load staticfiles %}

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat|Open Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
</head>
<div class="jumbotron front-page">
<h1> Welcome to Diamond's List! </h1>
</div>
<h6>this is a prototype, totally in beta, not actually functioning. it is designed to accept requests for assistance and transmit them to returning citizens who could complete the work.</h6>
<br>
<h2>Here are some recent listings to check out:</h2>

<h4>
{% if listings %}
    <ul>
    {% for listing in listings %}
        <li><a href="/listing/{{ listing.id }}/">{{ listing.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No jobs listed :(</p>
{% endif %}

</h4>
