{% extends "base.html" %}

{% block content %}


<div class="col-md-6">
    <h1> What's New? </h1>
    Diamond's List is still in beta. Check here for new features and news about the returning citizens community.
    
    <br>    

    <h1> From our lawyer </h1>
    Lorem ipsum dolor sit amet, commodo qui amet nonummy autem exercitationem. Mi porttitor. Ullamcorper at ornare etiam lorem luctus, arcu fusce auctor sapien euismod, lectus phasellus posuere lacus condimentum rutrum velit. Amet pellentesque ante dignissim. Id tincidunt lacus arcu volutpat, arcu nisl, tellus fusce neque potenti lobortis bibendum porttitor, etiam convallis sed ac, class auctor urna.

    <br> 
    <h1> What is Diamond's List?</h1>
    Diamond's list is a place for people with criminal records to post available services while looking for work. This project exists because many other listing services perform background checks and/or have rules about returning citizens using the service.
    

</div>

<div class="col-md-6">

        <h1> Want to help? </h1>
    There are so many ways to help out!
    <ul>
        <li> Are you a returning citizen? Be one of our beta users!</li>
        <li> Do you have tech or design skills? Check out our <a href="https://github.com/rshorey/diamondslist">code</a> on github and help out! </li>
        <li> Do you need work done? Consider hiring a returning citizen </li>
        <li> Can you afford to make a donation? This project is being run by Out4Justice, and you can donate to them here</li>
    </ul>

    <br>

    <h1> Out4Justice </h1>
    Diamond's List is a project of <a href="http://www.out4justice.org/">Out4Justice</a>, an ex-offender, member led organization that promotes policy reform of policies that adversely affect the ex-offender re-entering into society successfully.
    
    <br>

        <h1> Who made this? </h1>
    Diamond's List was dreamed up by Diamonte Brown at Out4Justice. She brought the project proposal to the Rebuilding ReEntry hackathon run by Mission:Launch, where she started working with a group of folks including Donovan Bass (a designer) and Rachel Shorey (a software developer). We've been working on this project together ever since!

    <br>
    


</div>

{% endblock %}