<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">

          <title>
               Diamond's List
          </title>

          {% load staticfiles %}
          
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
          
          <link rel="stylesheet" href="{% static 'css/custom.css' %}">

          <!-- Meta tags -->
          <meta name="description" content="Find work for returning citizens">

          
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat|Open Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/custom.css" %}">
        

     </head>

     <body>

<div class="jumbotron front-page">
<h1> Welcome to Diamond's List! </h1>
    <form action="listings" method="get">
        <h3>What are you looking for?</h3> <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</div>
{% if user %}
<h3> Hi {{ user.first_name }} </h3>
{% endif %}
<h6>this is a prototype, totally in beta, not actually functioning.</h6>

     {% block content %}

               {% endblock %}

     </body>
</html>