{% extends "base.html" %}

{% block content %}

<div class="jumbotron front-page">
<h1> Welcome to Diamond's List! </h1>
</div>
<h6>this is a prototype, totally in beta, not actually functioning.</h6>
<h4>This app is designed to accept requests for assistance and transmit them to returning citizens who could complete the work.</h4>
<h2>Here are some recent listings to check out:</h2>

<h4>
{% if listings %}
    <ul>
    {% for listing in listings %}
        <li><a href="/listing/{{ listing.id }}/">{{ listing.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No jobs listed :(</p>
{% endif %}

</h4>

{% endblock %}