{% extends "base.html" %}

{% block content %}

<h1> Welcome to Diamond's List! </h1>
<h6>this is a prototype, totally in beta, not actually functioning.</h6>
<h4>This app is designed to accept requests for assistance and transmit them to returning citizens who could complete the work.</h4>

    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>

<h2>Available jobs:</h2>

<h4>
{% if listings %}
    <table>

    <tr>
        <th> Listing </th>
        <th> Service Type </th>
        <th> Hourly Rate </th>
    </tr>
    
    {% for listing in listings %}
        <tr>
            <td><a href="/listing/{{ listing.id }}/">{{ listing.title }}</a></td>
            <td>{{ listing.service_type }} </td>
            <td>${{ listing.hourly_rate }} </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No jobs listed :(</p>
{% endif %}

</h4>

{% endblock %}