{% extends "base.html" %}

{% block content %}

<h1>User Information: {{ person.first_name }} {{ person.last_name }}</h1>
<h4> Bio: {{persion.profile.profile}} </h4>
<h4> Certifications: {{person.profile.certifications}} </h4>
<h4> Jobs completed through Diamond's List: {{person.profile.num_jobs_completed}}</h4>

<br>
<h3> Available listings: </h3>
<h4><ul>
{% for listing in listings %}
    <li> <a href="/listing/{{ listing.id }}/">{{ listing.title }}</a> </li>
{% endfor %}
</ul></h4>

{% endblock %}